<div class="container-fluid ">
    <div class="row">
        <div class="col-12 d-flex">
            <i class="fas fa-syringe"></i>
            <h2>Vacunas</h2>
        </div>
        <hr>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn bg-primary me-2" data-bs-toggle="modal" data-bs-target="#newCare">Nueva
                vacuna</button>
            <button class=" btn btn bg-primary" data-bs-toggle="modal" data-bs-target="#newReminder">Añade un
                recordatorio</button>
        </div>

    </div>
    <div class="row">
        <app-one-care></app-one-care>
    </div>
</div>

<app-new-care route="vaccine" [animalId]="animalId"></app-new-care>
<app-new-reminder route="vaccine" [animalId]="animalId"></app-new-reminder>
<app-edit-care route="vaccine"></app-edit-care>