<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div class="toast show" role="alert" *ngFor="let toast of arrToasts">
            <div class="toast-header "
                [ngClass]="{'bg-success': toast.messageType==1,'bg-danger': toast.messageType==0}">
                <img src="" class="rounded me-2" alt="logo app">
                <strong class="me-auto text-white">dyanimal</strong>
                <small class="text-white-50">{{toast.iat| date: 'MMM d, y - h:mm:ss a'}}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                {{toast.text}}
            </div>
        </div>

    </div>
</div>