<div class="container w-50 bg-white p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col">
            <h3 class="mb-3">Perfil</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="overflow-visible">

                <div class="row mb-3">
                    <label class="col-sm-5 col-form-label">Nombre de usuario</label>
                    <div class="col-sm-7">
                        <input type="text" [ngClass]="{'form-control-plaintext': !edit, 'form-control': edit}"
                            formControlName="username" maxlength="45">
                        <p class="form-error" *ngIf="checkError('username', 'required')">El
                            nombre de usuario es requerido.</p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-5 col-form-label">Email</label>
                    <div class="col-sm-7">
                        <input class="form-control-plaintext" type="text" [placeholder]="user.email" disabled>
                    </div>
                </div>

                <div *ngIf="edit" class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" formControlName="check_pass" id="checkPass">
                    <label class="form-check-label" for="checkPass">
                        ¿Cambiar contraseña?
                    </label>
                </div>

                <div *ngIf="form.value.check_pass" class="row mb-3">
                    <label class="col-sm-5 col-form-label">Contraseña antigua</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" formControlName="last_password" maxlength="255">
                        <p class="form-error" *ngIf="checkError('last_password', 'required')">Debe introducir una
                            contraseña.</p>
                    </div>
                </div>

                <div *ngIf="form.value.check_pass" class="row mb-3">
                    <label class="col-sm-5 col-form-label">Nueva contraseña</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" formControlName="password" maxlength="255">
                        <p class="form-error" *ngIf="checkError('password', 'required')">Debe introducir una contraseña.
                        </p>
                        <p class="form-error"
                            *ngIf="form.hasError('lastpasswordvalidator') && form.get('password')!.touched && !form.get('last_password')!.hasError('required')">
                            La contraseña debe ser diferente a la anterior.
                        </p>
                    </div>
                </div>

                <div *ngIf="form.value.check_pass" class="row mb-3">
                    <label class="col-sm-5 col-form-label">Repetir contraseña</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" formControlName="repeat_password" maxlength="255">
                        <p class="form-error"
                            *ngIf="form.hasError('passwordvalidator') && form.get('repeat_password')!.touched && !form.get('password')!.hasError('required')">
                            Las contraseñas no coinciden.
                        </p>
                    </div>
                </div>

                <hr>

                <button *ngIf="edit" class="btn btn-danger me-2 ms-auto" (click)="onCancel()">Cancelar</button>
                <input *ngIf="edit" type="submit" class="btn btn-primary ms-auto" value="Guardar cambios"
                    [disabled]="!form.valid">
            </form>
            <div *ngIf="!edit" class="d-flex justify-content-between">
                <button class="d-flex btn btn-primary" (click)="onClick()">
                    <i class="fas fa-pencil-alt my-auto me-2"></i>
                    Editar
                </button>
                <button class="btn btn-danger" (click)="onDelete()">
                    <i class="fas fa-trash-can my-auto me-2"></i>
                    Eliminar
                </button>
            </div>

        </div>
    </div>
</div>