<div class="modal fade" data-bs-backdrop="static" id="newMedication" tabindex="-1" aria-labelledby="newMedicationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="newMedicationLabel">{{(edit) ? 'Editar medicación' : 'Nueva medicación'}}
                </h5>
                <button *ngIf="edit" class="btn btn-danger ms-auto" data-bs-dismiss="modal" (click)="onDelete()">
                    <i class="fas fa-trash-can my-auto"></i>
                </button>
                <button *ngIf="!edit" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onCancel()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="overflow-visible">
                    <div class="row">

                        <div class="col-12">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="name" placeholder=""
                                    maxlength="100">
                                <label>Nombre</label>
                                <p class="form-error" *ngIf="checkError('name', 'required')">Debes indicar un
                                    nombre.
                                </p>
                            </div>

                        </div>
                        <div class="col-12">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="dosage" placeholder=""
                                    maxlength="100">
                                <label>Dósis</label>
                                <p class="form-error" *ngIf="checkError('dosage', 'required')">Debes indicar una
                                    dósis.
                                </p>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-floating mb-3">
                                <input type="number" max="52" min="1" step="1" class="form-control" placeholder=""
                                    formControlName="repetition">
                                <label>Repetición cada</label>
                                <p class="form-error"
                                    *ngIf="checkError('repetition', 'pattern') || checkError('repetition', 'required')">
                                    El
                                    valor debe estar entre 1 y
                                    52.
                                </p>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-floating mb-3">
                                <select class="form-select" formControlName="r_unit">
                                    <option value="hours">hora/s</option>
                                    <option value="days">día/s</option>
                                    <option value="weeks">semana/s</option>
                                </select>
                                <label>Unidad de repetición</label>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" formControlName="start">
                                <label>Inicio</label>
                                <p class="form-error" *ngIf="checkError('start', 'required')">Debes insertar una
                                    fecha.
                                </p>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" formControlName="finish">
                                <label>Fin</label>
                                <p class="form-error" *ngIf="checkError('finish', 'required')">Debes insertar una
                                    fecha.
                                </p>
                                <p class="form-error"
                                    *ngIf="form.hasError('datevalidator') && form.get('finish')!.touched && !form.get('start')!.hasError('required') && !form.get('finish')!.hasError('required')">
                                    La fecha de fin no puede ser menor o igual que la de inicio.
                                </p>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                (click)="onCancel()">Cancelar</button>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                value="{{(edit) ? 'Guardar cambios' : 'Crear'}}" [disabled]="!form.valid">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>